@media(max-width: 1400px){
    .menu{
        display: flex;
    }
    #menu{
        position: sticky;
        top: 5px;
        left: 5px;
        display: block;
        z-index: 10;
    }
    #cancel{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 24px;
        width: 24px;
        display: block;
    }
    .mobilemail{
        display: none;
    }
    .navbg{
        display: none;
    }
    .nav{
        margin: 0;
        padding: 0;
    }
    .navigation>ul{
        position: absolute;
        top: 20px;
        left: 10px;
        display: flex;
        flex-direction: column;
        width: 210px;
    }
    .navigation{
        background-color: black;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.5s ease-out;
        display: flex;
        flex-direction: row;
        width: 250px;
        height: 100dvh;
    }
    .contact{
        position: fixed;
        right: 10px;
        top: 20px;
    }
    .nav{
        height: 0px;
    }
    .container{
        justify-content: start;
        overflow:scroll;
        row-gap: 30px;
        height: 90vh;
    }
    ::-webkit-scrollbar {
        width: 0px;
      }
      
}
@media(max-width: 750px){
    #bg {
        display: none;
    }
    body{
        background: url("./images/bgimg.jpg");
        background-attachment: fixed;
        backdrop-filter: blur(1px) brightness(0.5);
    }
    #menu{
        position: sticky;
        top: 5px;
        left: 5px;
        display: block;
        z-index: 10;
    }
    .mobilemail{
        display: flex;
    }
    .menu{
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        height: 30px;
        width: 100dvw;
        background-color: black;
        z-index: 1;
    }
    .contact {
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: end;
        gap: 10dvw;
        right: 10px;
        top: 4px;
    }
    .logo77{
        display: none;
    }
    .contact{
        display: none;
    }
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 94vh;
        overflow: scroll;
    }
    .container{
        justify-content: start;
        width: 90dvw;
        height: max-content;
        row-gap: 30px;
        overflow: visible;
    }
    .registration {
        width: unset;
    }
    .ticket{
        z-index: -5;
        margin-bottom: 25px;
    }
}
